<div class="row" id="ai-attendance-div">
  <div class="col-12">
    <div>
      <ng-template [ngIf]="rides.length!==0">
        <app-attendance [ride]="rides[curPage]"
                        (attendanceChange)="onAttendanceChanged()"></app-attendance>

        <div class="row">
          <div class="ai-paginator">
            <mat-paginator
              [hidePageSize]="true"
              [length]="rides.length"
              [pageSize]="1"
              (page)="changePage($event)">
            </mat-paginator>
          </div>
        </div>
      </ng-template>
      <ng-template [ngIf]="rides.length===0">
        <div class="row ai-no-rides-mex">
          <div class="col-12">
            <div class="ai-no-results">
              <b>
                <div><i class="fas fa-exclamation-triangle"></i></div>
                <div>You've not been assigned to any ride yet</div>
              </b>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
