<div class="row" id="ai-attendance-div">
  <div class="col-12">
    <div>
      <ng-template [ngIf]="rides.length!==0">
        <app-attendance [ride]="rides[curPage]"
                        (attendanceChange)="onAttendanceChanged()"></app-attendance>

        <div class="row">
          <div class="ai-paginator">
            <mat-paginator
              [hidePageSize]="true"
              [length]="rides.length"
              [pageSize]="1"
              (page)="changePage($event)">
            </mat-paginator>
          </div>
        </div>


        <div class="row justify-content-center">
          <div class="col-12 col-sm-10 col-md-8">
            <div class="row justify-content-center ai-download-box">
              <div class="col-12">
                <h4>
                  <i class="fas fa-file-download"></i>
                  Download current ride
                </h4>
              </div>
              <div class="col-12 col-md-6">
                <a [href]="downloadJsonHref" [download]="'ride-' + rides[curPage].id + '.json'">
                  Export ride as JSON
                </a>
              </div>
              <div class="col-12 col-md-6">
                <a (click)="onDownloadCsvClick($event)" href="#">Export ride as CSV</a>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template [ngIf]="rides.length===0">
        <div class="row ai-no-rides-mex">
          <div class="col-12">
            <div class="ai-no-results">
              <b>
                <div><i class="fas fa-exclamation-triangle"></i></div>
                <div>You've not been assigned to any ride yet</div>
              </b>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
