<div class="ai-small-content-container">
  <h3>Child registration</h3>

  <div style="margin: auto; display: flex; justify-content: center;">
    <form class="registration-form">
      <mat-form-field>
          <input matInput placeholder="First name" [formControl]="firstNameFormControl"
                  [errorStateMatcher]="matcher">
          <mat-error *ngIf="firstNameFormControl.hasError('required')">
            First name is <strong>required</strong>
          </mat-error>
      </mat-form-field>
      <mat-form-field>
          <input matInput placeholder="Last name" [formControl]="lastNameFormControl"
                  [errorStateMatcher]="matcher">
          <mat-error *ngIf="lastNameFormControl.hasError('required')">
            Last name is <strong>required</strong>
          </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Phone" [formControl]="phoneFormControl"
                [errorStateMatcher]="matcher">
    </mat-form-field>
        
    <button *ngIf="!isLoading" mat-raised-button (click)="onSendRegistration()">REGISTER CHILD</button>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    
  </form>
</div>
  
  

</div>
