<div class="row justify-content-center">
  <div class="ai-info-header">
    <div class="col-12">
      <div class="ai-info-container" (click)="onBackClick()">
        <div class="ai-back-button">
          <i class="fas fa-chevron-left"></i>
        </div>
        <div class="ai-info">
          <span>{{lineName}} - {{fromDate}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="ai-ride-list-container col-12 col-md-6">
    <app-shift-definition-ride *ngFor="let ride of ridesContainer"
                               [ride]="ride"
                               (availabilityChange)="onAvailabilityChanged($event)"></app-shift-definition-ride>
  </div>
</div>
