<div class="row justify-content-center">
  <div class="ai-info-header">
    <div class="col-12">
      <div class="ai-info-container" (click)="onBackClick()">
        <div class="ai-back-button">
          <i class="fas fa-chevron-left"></i>
        </div>
        <div class="ai-info">
          <span>{{lineName}} - {{fromDate}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="ai-ride-list-container col-12 col-sm-10 col-md-8 col-lg-6" *ngIf="ridesContainer.length > 0">
    <app-shift-definition-ride *ngFor="let ride of ridesContainer"
                               [ride]="ride"
                               (availabilityChange)="onAvailabilityChanged($event)"></app-shift-definition-ride>
  </div>
  <div class="ai-no-results" *ngIf="ridesContainer.length === 0">
    <b>
      <div><i class="fas fa-exclamation-triangle"></i></div>
      <div>No ride available from this date</div>
    </b>
  </div>

</div>
