<h2 mat-dialog-title>{{user.first_name}} {{user.last_name}}</h2>

<div class="dialog-container">
  <mat-dialog-content>
    <div><span class="">User type</span> {{user.role | roleLabel}}</div>
    <div><span class="">Email</span> {{user.email}}</div>
    <div><span class="">Phone</span> {{user.phone}}</div>
   
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    
    <div *ngIf="user.role.name === 'ROLE_USER'">
        <strong>Figli registrati:</strong> 
      
        <ul *ngIf="!isLoading">
            <li *ngFor="let child of userChildren">
              <span>{{child.first_name}} {{child.last_name}}</span>
            </li>
          </ul>
    </div>

    <div *ngIf="user.role.name !== 'ROLE_USER'">
      <strong>Linee amministrate:</strong>
      <ul *ngIf="!isLoading">
        <app-line-selector
        [checkableLines]="myLines"
        [allLines]="userLines"></app-line-selector>
      </ul>
  </div>

</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Close</button>
    <button *ngIf="isUserEdited" class="mat-raised-button mat-primary"(click)="save()">Save</button>
</mat-dialog-actions>
</div>

