<div class="ai-ride-container">
  <div class="ai-ride-header">
    {{ride.date}}
  </div>
  <div class="ai-ride-body">
    <div class="ai-ride-element row" (click)="onElementAreaClicked(false)">
      <div class="col-2">
        <div class="ai-select-button-container">
          <div class="ai-select-button" [ngClass]="getSelectedClass(false)"></div>
        </div>
      </div>
      <div class="col-5 col-sm-6">
        <div>To School</div>
        <div class="ai-reservation-detail-box" (click)="onModifyReservationDetailAreaClick($event, false)">
          <div>{{getReservationStop(false)}}</div>
          <div>{{getReservationTime(false)}}</div>
          <div class="ai-reservation-detail-modify"><i class="far fa-edit"></i></div>
        </div>
      </div>
      <div class="col-5 col-sm-4">
        <div class="ai-ride-status">
          <div>
            <span class="circle-signal" [ngClass]="getStatusClass(false)" ></span>
            {{ride.forthRide.rideBookingStatus}}
          </div>
          <div class="ai-ride-position" *ngIf="isInProgress(false)">
            <div><i class="fas fa-crosshairs"></i> {{getLatestPosition(false)}}</div>
            <div><i class="far fa-clock"></i> {{getLatestPositionArrivalTime(false)}}</div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="ai-ride-element row" (click)="onElementAreaClicked(true)">
      <div class="col-2">
        <div class="ai-select-button-container">
          <div class="ai-select-button" [ngClass]="getSelectedClass(true)"></div>
        </div>
      </div>
      <div class="col-5 col-sm-6">
        <div>From School</div>
        <div class="ai-reservation-detail-box" (click)="onModifyReservationDetailAreaClick($event, true)">
          <div>{{getReservationStop(true)}}</div>
          <div>{{getReservationTime(true)}}</div>
          <div class="ai-reservation-detail-modify"><i class="far fa-edit"></i></div>
        </div>
      </div>
      <div class="col-5 col-sm-4">
        <div class="ai-ride-status">
          <div>
            <span class="circle-signal" [ngClass]="getStatusClass(true)" ></span>
            {{ride.backRide.rideBookingStatus}}
          </div>
          <div class="ai-ride-position" *ngIf="isInProgress(true)">
            <div><i class="fas fa-crosshairs"></i> {{getLatestPosition(true)}}</div>
            <div><i class="far fa-clock"></i> {{getLatestPositionArrivalTime(true)}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
