<div class="container">
  <h1>User registration</h1>

  <form class="registration-form">
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" [formControl]="emailFormControl"
                 [errorStateMatcher]="matcher">
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      
        <mat-form-field>
          <mat-label>User type</mat-label>
          <mat-select name="selectedValue" [formControl]="selectFormControl">
            <mat-option *ngFor="let type of userTypes" [value]="type.id" >
              {{type.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="selectFormControl.hasError('required')">
              Select is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <app-line-selector *ngIf="selectFormControl.value === 'companion'"
        [checkableLines]="myLines"
        [allLines]="[]"></app-line-selector>

        <button mat-raised-button (click)="onSendRegistration()">SEND</button>

  </form>
 

</div>