<h1 mat-dialog-title>Stop selection</h1>
<div mat-dialog-content>
  <app-datepicker [placeholderText]="'From date'" (dateChanged)="onFromDateChanged($event)"></app-datepicker>
  <app-datepicker
    [placeholderText]="'To date'"
    [fromDate]="dateService.sendStringToDate(fromDate)"
    (dateChanged)="onToDateChanged($event)">
  </app-datepicker>

  <label>Select which rides to show:</label>
  <mat-radio-group
    aria-labelledby="example-radio-group-label"
    [(ngModel)]="rideToShow">
    <mat-radio-button [value]="'open'">
      Only rides still open
    </mat-radio-button>
    <mat-radio-button [value]="'closed'">
      Only closed rides
    </mat-radio-button>
    <mat-radio-button [value]="'both'">
      Both
    </mat-radio-button>
  </mat-radio-group>
</div>
<div mat-dialog-actions>
  <div class="row ai-dialog-button-container">
    <div class="col-6 ai-dialog-button-div">
      <button mat-button class="btn btn-danger ai-dialog-button" (click)="onUndoClick()">Undo</button>
    </div>
    <div class="col-6 ai-dialog-button-div">
      <button mat-button class="btn btn-success ai-dialog-button" (click)="onApplyClick()" cdkFocusInitial>Apply</button>
    </div>
  </div>
</div>
