<form [formGroup]="form" class="ai-form">
  <div class="ai-mex-box-error" *ngIf="invalidCredentials">Wrong username or password</div>
  <fieldset>
    <legend>Login</legend>
    <p>You have to login to access the booking service</p>
    <div class="form-field">
      <label>Email:</label>
      <input name="email" formControlName="email">
    </div>
    <div class="form-field">
      <label>Password:</label>
      <input name="password" formControlName="password"
             type="password">
    </div>
  </fieldset>
  <div class="form-buttons">
    <button class="btn btn-warning"
            (click)="onLogin()">Login</button>
  </div>

  <div class="ai-form-link">
    <a routerLink="/recover">Forgot your password? Click here!</a>
  </div>
</form>
