@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
/* You can add global styles to this file, and also import other style files */
.mat-paginator-range-label {
  display: none;
}

body {
  background-color: #24242d;
  color: whitesmoke;
}

.ai-main-content {
}

.ai-content {
  margin-top: 30px;
  text-align: center;
}

.ai-footer {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.ai-footer p {
  font-size: 0.9em;
  color: darkgrey;
}

.ai-hgroup {
  margin-bottom: 40px;
}

.ai-hgroup h2 {
  font-size: 3em;
}

.ai-quote {
  margin-top: 40px;
  margin-bottom: 30px;

  font-size: 1em;
}

.ai-home-button {
  width: 100px;
}

label {
  width: 150px;
  text-align: left;
}

/* Styles for the modal dialog buttons */
.ai-dialog-button-div {
  text-align: center;
}
.ai-dialog-button-container {
  margin-bottom: 1rem;
}
