@import '~@angular/material/theming';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@include mat-core();

$my-app-primary: mat-palette($mat-deep-purple);
$my-app-accent:  mat-palette($mat-blue, 500, 900, A100);
$my-app-warn:    mat-palette($mat-red);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

@include angular-material-theme($my-app-theme);


.mat-form-field-empty.mat-form-field-label {
    color: black;
}
.mat-select-value{
    color : black;
}

input.mat-input-element {
    color: black;
}
