<div>
  <ng-template [ngIf]="ride">
    <div class="ai-ride">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div id="ai-stop-list">
            <div class="ai-list-item row" *ngFor="let busStop of ride.stopList; let i=index; let isFirst=first; let isLast=last;">
              <div class="col-3">
                <div class="ai-route" [ngClass]="isFirst ? 'ai-top-route' : (isLast ? 'ai-bottom-route' : 'ai-middle-route')"></div>
                <ng-template [ngIf]="!isLast">
                  <div class="ai-fill-route"></div>
                </ng-template>
              </div>
              <div class="col-9">
                <div class="ai-list-item-label"><span>{{busStop.arrivaltime}}</span> {{busStop.name}}</div>
                <p class="ai-user-selection-container">
                  <span class="ai-user-selection" *ngFor="let passenger of busStop.passengers"
                        (click)="pickOrUnpick(ride, busStop, passenger)">
                    <b [ngClass]="passenger.picked ? 'ai-picked' : 'ai-not-picked'">
                      {{passenger.username}}</b>
                    <i class="far" [ngClass]="passenger.picked ? 'fa-times-circle' : 'fa-check-circle'"></i>
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12" id="ai-missing-passengers">
          <h3>Unexpected Passengers</h3>
          <p>
            <span class="ai-user-selection" *ngFor="let passenger of remainingUsers"
                  (click)="openDialogBoxPickNotBookedUser(passenger)">
              <b [ngClass]="passenger.picked ? 'ai-picked' : 'ai-not-picked'">
                {{passenger.first_name}}</b>
              <i class="far" [ngClass]="passenger.picked ? 'fa-times-circle' : 'fa-check-circle'"></i>
            </span>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="ai-paginator">
          <mat-paginator
            [hidePageSize]="true"
            [length]="pageNumber"
            [pageIndex]="0"
            [pageSize]="1"
            (page)="changePage($event)">
          </mat-paginator>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template [ngIf]="!ride">
    <div class="row ai-no-rides-mex">
      <div class="col-12">
        <b>There are no rides for the line {{this.lineId}} in {{date}}</b>
      </div>
    </div>
  </ng-template>
</div>
