
<div class="container">
    <h1>Complete registration</h1>
    <div *ngIf="isLoading">
      Loading registration form in progress...
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="!isLoading && hasError">
      <p>No registration has been found for this link. Please contact the administrator for further details.</p>
    </div>
    <div *ngIf="registrationCompleted">
        <p>Registration was successful. You can now log in</p>
       <!-- <a [routerLink]="[ '/login']">Vai al login</a> -->
      </div>
    <div *ngIf="!isLoading && !hasError">
        <form [formGroup]="form" class="ai-form">
            <fieldset>
              <legend>Welcome {{displayName}}</legend>
              <p>Complete the registration of your personal account</p>
              <div class="row justify-content-center">
                <div class="col-10 col-md-6" id="ai-mex-box">
                </div>
              </div>
              <div class="form-field">
                <label>Phone:</label>
                <input name="phone" formControlName="phone">
              </div>
              <div class="form-field">
                <label>Password:</label>
                <input name="password" formControlName="password"
                       type="password">
              </div>
              <div class="form-field">
                <label>Confirm Password:</label>
                <input name="passwordConfirm" formControlName="passwordConfirm"
                       type="password">
              </div>
            </fieldset>
            <div class="form-buttons">
              <button class="btn btn-warning"
                      (click)="onRegister()">Register</button>
            </div>
          </form>

    </div>
    
</div>
